{% extends 'base.html' %}


{% block title %}О нас{% endblock %}


{% block content %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">О нас</h1>
        <p class="lead text-muted">Внедряем в систему образования систему студенческого саморазвития. А также реализуем курс развития воли и самоорганизации для поддержки молодых людей.</p>
      </div>
    </div>
  </section>
{% endblock %}