{% extends 'base.html' %}


{% block title %}Курсы{% endblock %}


{% block content %}
<div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Курс #1</h1>
        <p class="col-md-8 fs-4">Курс саморазвития.</p>
          <a href="/price"><button class="btn btn-primary btn-lg" type="button">Узнать цену >>></button></a>
      </div>
    </div>
<hr>
<div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Курс #2</h1>
        <p class="col-md-8 fs-4">Курс 2.</p>
          <a href="/price"><button class="btn btn-primary btn-lg" type="button">Узнать цену >>></button></a>
      </div>
    </div>
<hr>
<div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Курс #3</h1>
        <p class="col-md-8 fs-4">Курс 3.</p>
          <a href="/price"><button class="btn btn-primary btn-lg" type="button">Узнать цену >>></button></a>
      </div>
    </div>
{% endblock %}