{% extends 'base.html' %}


{% block title %}Наша цель{% endblock %}

{% block content %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Наша цель</h1>
        <p class="lead text-muted">Развитие разумной, самостоятельной, успешной жизни. Занимаемся научной разработкой и свободным распространением эффективных способов познания, развития и совершенствования себя. В том числе - освоением волевых и иных универсальных качеств и умений.</p>
      </div>
    </div>
  </section>
{% endblock %}